<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>LoginViewController</string>
			<key>IASKViewControllerSelecto</key>
			<string>init</string>
			<key>Title</key>
			<string>ACCOUNT_MANAGE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>PLAN</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>IsPushDate</string>
			<key>Title</key>
			<string>PUSH_DATE</string>
			<key>Type</key>
			<string>PSToggleSwitchTouchSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>StudyTimeController</string>
			<key>IASKViewControllerSelecto</key>
			<string>init</string>
			<key>Title</key>
			<string>EVERYDAY_STUDY_TIME</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>AssSelectViewController</string>
			<key>IASKViewControllerSelecto</key>
			<string>init</string>
			<key>Title</key>
			<string>ASSISTANT_SEX</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>VIPStoreViewController</string>
			<key>IASKViewControllerSelecto</key>
			<string>init</string>
			<key>Title</key>
			<string>STORE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>STUDY_OPTION</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>SwipeGesture</string>
			<key>Title</key>
			<string>SWIPE_GESTURE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>keepScreenLight</string>
			<key>Title</key>
			<string>KEEP_SCREEN_LIGHT</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>keepTextSync</string>
			<key>Title</key>
			<string>SYNC_TEXT</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>mulValueTextShowStyle</string>
			<key>Title</key>
			<string>MUL_VAL_TEXT_SHOW_STYLE</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_TSS_1</string>
				<string>MUL_VAL_TSS_2</string>
				<string>MUL_VAL_TSS_3</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>16</integer>
			<key>Key</key>
			<string>mulValueFont</string>
			<key>Title</key>
			<string>MUL_VAL</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_1</string>
				<string>MUL_VAL_2</string>
				<string>MUL_VAL_3</string>
				<string>MUL_VAL_4</string>
			</array>
			<key>Values</key>
			<array>
				<integer>14</integer>
				<integer>16</integer>
				<integer>18</integer>
				<integer>20</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>mulValueColor</string>
			<key>Title</key>
			<string>MUL_VAL_C</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_C_1</string>
				<string>MUL_VAL_C_2</string>
				<string>MUL_VAL_C_3</string>
				<string>MUL_VAL_C_4</string>
				<string>MUL_VAL_C_5</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>DATA</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>DeleteAudioViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>DELETE_DATA</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MORE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Copyright © 2013 Iyuba.com Inc. All Rights Reserved.</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>RATE</string>
			<key>File</key>
			<string>itms-apps://ax.itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=642077630</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>UserAdviseViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>USER_ADVISE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>web</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>MORE_APP</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>AboutIyubaViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>ABOUT_IYUBA</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>1.1.0</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
