<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Tag0_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {68, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{68, 61}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 306}, {61, 68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag1000_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {46, 85}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{46, 85}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 304}, {46, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1004_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 17}, {56, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{56, 65}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 348}, {56, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1004_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 17}, {56, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{56, 65}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 443}, {56, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1004_ID0_Index0_frame2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 17}, {56, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{56, 65}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 300}, {56, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1005_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 17}, {56, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{56, 65}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 376}, {56, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1005_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 17}, {56, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{56, 65}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 237}, {56, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1005_ID0_Index0_frame2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 17}, {56, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{56, 65}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 403}, {56, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1006_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 41}, {68, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{68, 47}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 440}, {47, 68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag1006_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 44}, {68, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -14}</string>
			<key>spriteSize</key>
			<string>{68, 45}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 452}, {68, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 20}, {54, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{54, 59}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 123}, {54, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 20}, {52, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{52, 59}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 62}, {52, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {56, 63}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{56, 63}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 415}, {63, 56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {60, 67}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{60, 67}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 126}, {67, 60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {60, 71}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{60, 71}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 64}, {71, 60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {60, 69}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{60, 69}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 0}, {69, 60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 20}, {50, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{50, 59}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 335}, {50, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 20}, {52, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{52, 59}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 391}, {52, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {56, 63}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{56, 63}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 300}, {56, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag1_ID0_Index0_frame9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 20}, {50, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{50, 59}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 422}, {59, 50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag401_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 22}, {56, 67}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{56, 67}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 279}, {56, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag401_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 21}, {58, 67}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{58, 67}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 0}, {67, 58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag405_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 37}, {32, 41}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{32, 41}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 176}, {32, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag405_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 36}, {32, 43}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{32, 43}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 131}, {32, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag500_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 14}, {33, 57}}</string>
			<key>spriteOffset</key>
			<string>{2, 10}</string>
			<key>spriteSize</key>
			<string>{33, 57}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 131}, {57, 33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag500_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {47, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{47, 73}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 286}, {73, 47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag500_ID0_Index0_frame2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {47, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{47, 73}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 188}, {73, 47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag500_ID0_Index0_frame3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {47, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{47, 73}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{181, 434}, {47, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag500_ID0_Index0_frame4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {47, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{47, 73}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{375, 237}, {73, 47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag500_ID0_Index0_frame5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {47, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{47, 73}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 373}, {73, 47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag500_ID0_Index0_frame6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {49, 73}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{49, 73}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 365}, {49, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag500_ID0_Index0_frame7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {59, 77}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{59, 77}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 62}, {77, 59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag501_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 24}, {52, 51}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{52, 51}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 422}, {52, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag501_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 26}, {54, 51}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{54, 51}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 184}, {54, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag501_ID0_Index0_frame2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 27}, {54, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{54, 53}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{155, 223}, {53, 54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag502_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {66, 85}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{66, 85}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 64}, {85, 66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag502_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {66, 85}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{66, 85}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 132}, {66, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag502_ID0_Index0_frame2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {66, 85}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{66, 85}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 171}, {85, 66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag600_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 40}, {29, 27}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{29, 27}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 470}, {29, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag600_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 21}, {47, 47}}</string>
			<key>spriteOffset</key>
			<string>{-9, 8}</string>
			<key>spriteSize</key>
			<string>{47, 47}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 188}, {47, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag600_ID0_Index0_frame2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {53, 55}}</string>
			<key>spriteOffset</key>
			<string>{-6, 13}</string>
			<key>spriteSize</key>
			<string>{53, 55}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{155, 166}, {53, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag600_ID0_Index0_frame3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {65, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{65, 55}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{181, 367}, {55, 65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag600_ID0_Index0_frame4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {65, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{65, 85}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 219}, {65, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag600_ID0_Index0_frame5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {65, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{65, 85}</string>
			<key>spriteSourceSize</key>
			<string>{69, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 64}, {85, 65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag601_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {54, 67}}</string>
			<key>spriteOffset</key>
			<string>{5, 11}</string>
			<key>spriteSize</key>
			<string>{54, 67}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 304}, {54, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag7_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {56, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{56, 65}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 336}, {56, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag8_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 55}, {60, 49}}</string>
			<key>spriteOffset</key>
			<string>{-2, -27}</string>
			<key>spriteSize</key>
			<string>{60, 49}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{457, 0}, {49, 60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag8_ID0_Index0_frame1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 38}, {60, 67}}</string>
			<key>spriteOffset</key>
			<string>{-2, -19}</string>
			<key>spriteSize</key>
			<string>{60, 67}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 126}, {67, 60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag8_ID0_Index0_frame2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {62, 95}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{62, 95}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 239}, {62, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag8_ID0_Index0_frame3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {60, 105}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{60, 105}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 238}, {105, 60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag8_ID0_Index0_frame4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {62, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{62, 105}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {105, 62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag8_ID0_Index0_frame5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {60, 105}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{60, 105}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 131}, {60, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag8_ID0_Index0_frame6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {62, 103}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{62, 103}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 0}, {103, 62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag8_ID0_Index0_frame7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {62, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{62, 105}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{87, 64}, {62, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tag8_ID0_Index0_frame8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {62, 103}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{62, 103}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 0}, {103, 62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Tag9_ID0_Index0_frame0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {68, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{68, 65}</string>
			<key>spriteSourceSize</key>
			<string>{68, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 64}, {68, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>AssistantID_0</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>AssistantID_0</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>AssistantID_0</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>