<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>most_late_time</key>
	<integer>0</integer>
	<key>most_early_time</key>
	<integer>0</integer>
	<key>last_now_interval_days</key>
	<integer>0</integer>
	<key>purchase_num</key>
	<integer>2</integer>
	<key>is_first_time_arrangement</key>
	<true/>
	<key>last_open_date</key>
	<date>2013-03-10T03:04:29Z</date>
	<key>first_open_date</key>
	<date>2013-03-10T03:03:15Z</date>
</dict>
</plist>
